<!DOCTYPE html>
<html>

<head>
    <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
    <title>University Website Design Tutorial</title>

   <link rel="stylesheet" href="css/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/2c484947f7.js" crossorigin="anonymous"></script>
    <section class="header" .>

        <nav>

            <a href"/about"><img src="images/2.png"></a>

            <div class="nav-link" id="navLink">

                <i class="fa fa-times" onclick="hidemenu()"></i>



                <ul>


                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/weather">Course</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                     <li><a href="/register">Register</a></li>
                       <li><a href="/Signup">Log in</a></li>
                </ul>

            </div>


            <i class="fa fa-bars" onclick="showmenu()"></i>


        </nav>

        <div class="text-box">

            {{!-- <h1>World Biggest University</h1>
            <p>Making website is known one of the earliest thing in the world you just need to learn HTML CSS <br>JavaScript you are good to go</p>
            <a href="" class="hero-btn">Visit Us To known More</a> --}}

            <form action="" method="get" class="form-example">
  <div >
    <label for="name">Enter pickup address: </label>
    <input type="text" name="text" id="p" autocomplete="off" required>
  </div>
  <div>
    <label for="email">Enter destination address: </label>
    <input type="text" name="text" id="text" required>
  </div>
  <div>
       <label for="phone">Enter your phone number:</label>
<input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
  </div>
  <div class="form-example">
    <input type="submit" style="color: blue; background-color:black; height:5rem;" value="Submit and get Response!">
  </div>
</form>


        </div>



    </section>


    <!-----------------------------------------------------------Course---------------------------------------------------------------->

    <section class="course">

        <h1>vehice on our platform</h1>
        <p>Lprium isdbm gskjtw uinkjne iuierj iewr ksd jnng </p>

        <div class="row">

            <div class="course-col">

                <h3>Tata Ace</h3>
                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>


            <div class="course-col">

                <h3>City Tempo</h3>
                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>


            <div class="course-col">

                <h3>vehicle for Enterprise(Truck)</h3>
                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>

        </div>


    </section>

    <!-----------------------------------------------------------Course---------------------------------------------------------------->



    <!-----------------------------------------------------------Cumpus---------------------------------------------------------------->



    <section class="campus">

        <h1>Our Global Campus</h1>
        <p>Making website is known one of the earliest thing in the world you just need to learn HTML CSS <br>JavaScript you are good to go</p>

        <div class="row">

            <div class="compus-col">

                <img src="images/7.jpeg">

                <div class="layer">
                    <h3>Indore</h3>

                </div>



            </div>

            <div class="compus-col">

                <img src="images/7.jpeg">

                <div class="layer">
                    <h3>PITHAMPUR</h3>

                </div>



            </div>


            <div class="compus-col">

                <img src="images/7.jpeg">

                <div class="layer">
                    <h3>Dewas</h3>

                </div>



            </div>


        </div>





    </section>

    <!-----------------------------------------------------------Cumpus---------------------------------------------------------------->




    <!-----------------------------------------------------------facility-------------------------------------------------------------->

    <section class="facility">

        <h1>Our Facility</h1>
        <p>Lprium isdbm gskjtw uinkjne iuierj iewr ksd jnng </p>

        <div class="row">

            <div class="facility-col ">

                <img src="images/7.jpeg ">

                <h3>World Classic Library</h3>

                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>



            <div class="facility-col">

                <img src="images/7.jpeg">

                <h3>Largest Play Ground</h3>

                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>



            <div class="facility-col ">

                <img src="images/7.jpeg ">

                <h3>Tasty and Heathy Food</h3>

                <p>“Way better than naaka waalas. Have shifted all my logistics needs<br> to Porter and I can now safely focus on my business growth. Amazing service!” </p>

            </div>



        </div>


    </section>


    <!------------------------------------------------------testimonials--------------------------------------------------------------->

    <section class="testimonials ">

        <h1>What peple Says </h1>
        <p>Lprium isdbm gskjtw uinkjne iuierj iewr ksd jnng </p>

        <div class="row">

            <div class="testimonials-col">

                <img src="images/7.jpeg">

                <p>“Way better than naaka waalas. Have shifted all my logistics needs to Easy-transport and I can now safely focus on myK<br> business growth. Amazing service!” </p>

                <h3>Christine Berkley</h3>

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>

            </div>

            <div class="testimonials-col">

                <img src="images/7.jpeg">

                <p> “Excellent service by multiple drivers. I own a business and do multiple shiftings. Rather than ask local drivers and bargain every time, I use Easy-transport
                    <br> which fulfils all my need. Thanks a lot!” </p>

                <h3>Dinesh Indore</h3>

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>

            </div>

        </div>

    </section>

    <!------------------------------------------------------testimonials--------------------------------------------------------------->


    <!--------------------------------------------------------Call to Action----------------------------------------------------------->

    <section class="cta">

        <h1>Enroll for our various online corses <br> Anywhere from world</h1>

        <a href="" class="hero-btn">CONTACT US</a>




    </section>

    <!--------------------------------------------------------Call to Action----------------------------------------------------------->



    <!--------------------------------------------------------Footer------------------------------------------------------------------->

    <section class="footer">

        <h4>About Us</h4>

        <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

        <div class="icons">


            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>




        </div>







    </section>

    <!--------------------------------------------------------Footer------------------------------------------------------------------->




    <!-----------------------------------------------------java script toggle menu----------------------------------------------------->

    <script>
        var navLink = document.getElementById("navLink ")

        function showmenu() {
            navLink.style.right = "0 ";
        }

        function hidemenu() {
            navLink.style.right = "-200px ";
        }
    </script>


    </body>

</html>