<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="fullcontainer">
<div class="card">
<div class="inner-box" id="card">
 <div class="card-front">

  <h2>Login</h2>
   <form>
  <input type="email" class="input-box" placeholder=" your Email id" required>
 <input type="password" class="input-box" placeholder=" password" required>
 <button type="submit" class="submit-btn">Submit</button>
 <input type="checkbox"><span>Remember me </span>
   </form>
 <button type="button" class="signup-btn">I'm New Here</button>   
 <a href="">Forgot password</a>


 </div>
 <div class="card-back">




 </div>

 </div>
</div>
 </div>




</body>
</html>